<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']">{{title}}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li [routerLink]="['/organizations-center']" routerLinkActive="active"><a>Organizations</a></li>
        <li [routerLink]="['/users']" routerLinkActive="active"><a>Users</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a [routerLink]="['/login']" *ngIf="!authService.isAuthenticated()" routerLinkActive="active"><span
            class="glyphicon glyphicon-lock" aria-hidden="true"></span> Login</a>
        </li>
        <li class="dropdown" *ngIf="authService.isAuthenticated()">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{authService.currentUser.email}}
          </a>
          <ul class="dropdown-menu">
            <li role="separator" class="divider"></li>
            <li [routerLink]="['/user', authService.currentUser.id]" routerLinkActive="active"><a>Profile</a></li>
            <li role="separator" class="divider"></li>
            <li (click)="doLogOut()" ><a>Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
