/* You can add global styles to this file, and also import other style files */
body {
  padding-top: 5rem;
  background-color: #f7f7f7 !important;
}

.starter-template {
  padding: 3rem 1.5rem;
}

.btn{
  cursor: pointer;
}

a:not([href]){
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}
